<div class="modal fade" id="deleteAccModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Confirm Deleting Account</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
  
        <form role="form" id="contact-form" method="post" autocomplete="off" action="{% url 'deleteAccount' %}">
            {% csrf_token %}
          <div class="modal-body">
            <p>
              You are about to delete your Account.<br/> Be careful, You will NOT be able to undo this action
            </p>
          </div>
          <div class="modal-footer justify-content-between">
            <button type="button" class="btn bg-gradient-dark" data-bs-dismiss="modal">
              Close
            </button>
              <button  type="submit" class="btn bg-gradient-primary text-regular"><i class="fa-solid fa-user-slash"></i><small class="mx-2">Delete Account</small>
              </button>
          </div>
        </form>
      </div>
    </div>
  </div>