<style>
  .search-container input {
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    border: 1px solid rgb(164, 164, 164);
    border-right: none;
    padding: 5px;
  }

  .search-container button {
    float: right;
    background: transparent;
    border: 1px solid rgb(164, 164, 164);
    border-left: none;
    cursor: pointer;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    padding: 5px;

  }

  .search-container button:hover {
    background: rgba(245, 245, 245, 0.553);
  }
</style>

<div class="container position-sticky z-index-sticky top-0">
  <div class="row">
    <div class="col-12">
      <nav
        class="navbar navbar-expand-lg blur blur-rounded top-0 z-index-fixed shadow position-absolute my-3 py-2 start-0 end-0 mx-4"
      >
        <div class="container-fluid">
          <a class="navbar-brand font-weight-bolder ms-sm-3" href="{% url 'home' %}" rel="tooltip" data-placement="bottom">
            Crowdfunding
          </a>

          <button
            class="navbar-toggler shadow-none ms-2"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navigation"
            aria-controls="navigation"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon mt-2">
              <span class="navbar-toggler-bar bar1"></span>
              <span class="navbar-toggler-bar bar2"></span>
              <span class="navbar-toggler-bar bar3"></span>
            </span>
          </button>

          <div class="collapse navbar-collapse pt-3 pb-2 py-lg-0" id="navigation">
            <ul class="navbar-nav navbar-nav-hover ms-lg-12 ps-lg-5 w-100 align-items-center">
              <li class="nav-item dropdown dropdown-hover mx-2">
                <a
                  class="nav-link ps-2 d-flex justify-content-between cursor-pointer align-items-center"
                  id="dropdownMenuBlocks"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                >
                  Categories
                  <img
                    src="/static/assets/img/down-arrow-dark.svg"
                    alt="down-arrow"
                    class="arrow ms-1"
                  />
                </a>
                <!-- Catogries Dropdown Window -->
                <ul
                  class="dropdown-menu dropdown-menu-animation dropdown-lg dropdown-lg-responsive p-3 border-radius-lg mt-0 mt-lg-3"
                  aria-labelledby="dropdownMenuBlocks"
                >
                  <div class="d-none d-lg-block">

                    <li class="nav-item dropdown dropdown-hover dropdown-subitem">
                      <a class="dropdown-item py-2 ps-3 border-radius-md" href="{% url 'all_projects' %}">
                        <div class="d-flex">
                          <div class="icon h-10 me-3 d-flex mt-1">
                            <i class="ni ni-single-copy-04 text-gradient text-primary"></i>
                          </div>
                          <div class="w-100 d-flex align-items-center justify-content-between">
                            <h6
                              class="dropdown-header text-dark font-weight-bolder d-flex justify-content-cente align-items-center p-0">
                              All
                            </h6>
                          </div>
                        </div>
                      </a>
                    </li>
                    <li class="nav-item dropdown dropdown-hover dropdown-subitem">
                      <a class="dropdown-item py-2 ps-3 border-radius-md" href="{% url 'featured_projects' %}">
                        <div class="d-flex">
                          <div class="icon h-10 me-3 d-flex mt-1">
                            <i class="ni ni-single-copy-04 text-gradient text-primary"></i>
                          </div>
                          <div class="w-100 d-flex align-items-center justify-content-between">
                            <h6
                              class="dropdown-header text-dark font-weight-bolder d-flex justify-content-cente align-items-center p-0">
                              Featured
                            </h6>
                          </div>
                        </div>
                      </a>
                    </li>
                    {%for category in all_categories%}
                    <li class="nav-item dropdown dropdown-hover dropdown-subitem">
                      <a class="dropdown-item py-2 ps-3 border-radius-md" href="{% url 'get_category' category.id %}">
                        <div class="d-flex">
                          <div class="icon h-10 me-3 d-flex mt-1">
                            <i class="ni ni-single-copy-04 text-gradient text-primary"></i>
                          </div>
                          <div class="w-100 d-flex align-items-center justify-content-between">
                            <h6
                              class="dropdown-header text-dark font-weight-bolder d-flex justify-content-cente align-items-center p-0">
                              {{ category.name|title }}
                            </h6>
                          </div>
                        </div>
                      </a>
                    </li>
                    {%empty%}
                    <h6>No category Found</h6>
                    {%endfor%}
                  </div>
                </ul>
              </li>

              <!-- Search  -->
              <li class="nav-item ms-lg-auto">
                <form class="search-container" action="{% url 'search-result' %}">
                  <input class="bg-transparent" type="search" placeholder="Search.." name="search" required>
                  <button type="submit"><i class="fa fa-search" style="color:rgb(164, 164, 164);"></i></button>
                </form>
              </li>

              {% if 'user_id' in request.session %}
              <li class="nav-item dropdown ms-lg-auto">
                <a class="nav-link dropdown-toggle d-flex align-items-center" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  <img src="{{ user.profile_img.url }}" alt="profile" style="width: 30px; height: 30px;" class="d-inline-block align-text-top rounded-circle"/>
                  <p class="m-0 mx-2">{{user.first_name|title}}</p>
                </a>
                <ul class="dropdown-menu dropdown-menu-light " aria-labelledby="navbarDarkDropdownMenuLink">
                  <li class="nav-item ms-lg-auto">
                    <a class="nav-link nav-link-icon me-2 " href="{% url 'profile'  %}">
                      <i class="fa-solid fa-user me-1"></i>
                      <p class="d-inline text-sm z-index-1 font-weight-bold" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Profile">
                      Profile
                      </p>
                    </a>
                  </li>
                  <li class="nav-item ms-lg-auto">
                    <a class="nav-link nav-link-icon me-2" href="{% url 'logout' %}">
                      <i class="fa fa-sign-out me-1"></i>
                      <p
                        class="d-inline text-sm z-index-1 font-weight-bold"
                        data-bs-toggle="tooltip"
                        data-bs-placement="bottom"
                        title="Logout"
                      >
                        Logout
                      </p>
                    </a>
                  </li>
                </ul>
              </li>
              {% else %}
              <li class="nav-item ms-lg-auto d-flex">
                <a class="nav-link nav-link-icon me-2" href="{% url 'register' %}">
                  <p
                    class="d-inline text-sm z-index-1 font-weight-bold"
                    data-bs-toggle="tooltip"
                    data-bs-placement="bottom"
                    title=" Sign Up"
                  >
                    Sign Up
                  </p>
                </a>
                <a class="nav-link nav-link-icon me-2" href="{% url 'login' %}">
                  <p
                    class="d-inline text-sm z-index-1 font-weight-bold"
                    data-bs-toggle="tooltip"
                    data-bs-placement="bottom"
                    title="Sign In"
                  >
                  Sign In
                  </p>
                </a>
              </li>
              {% endif %}
            </ul>
          </div>
        </div>
      </nav>
    </div>
  </div>
</div>
