{% extends 'layouts/base.html' %}
{% load index %}

{% block title %} Projects {% endblock title %}


{% block stylesheets %}
<link rel="stylesheet" href="../../static/assets/css/projects-page.css">
{% endblock stylesheets %}

{% block content %}

<div class="py-5 mx-auto">
  <h3 class="mt-5 pt-4 text-center">
    {% block project_type %}{% endblock project_type %}
    <span class="">{{ title|title }}</span>
  </h3>
  <div class="d-flex justify-content-center flex-wrap">
    <!-- Project -->
    {%for project in projects %}
    <div class="category-page-container col-md-3 mx-3 mt-5">
      <div class="category-project-content p-4" style="border-radius: 10px; height:650px;">
        <a href="{% url 'show_project' project.id%}">
          <div style="height:300px">

            <img src="{{ images|index:forloop.counter0 }}" alt="project-img" class="img-fluid rounded"
              style="height: inherit; width: 100%;">

          </div>
        </a>
        <a href="{% url 'show_project' project.id%}" class="text-dark">
          <h3 class="my-3">{{ project.title|title }}</h3>
        </a>
        <div class="d-flex justify-content-between my-2">
          <span><small><i class="fa fa-calendar mr-1 text-muted"></i><span class="text-muted mx-1">Ends
                by:</span>{{ project.end_time }}</small></span>
        </div>
        <p class="text-secondary" style="height:80px;  word-wrap: break-word;">{{ project.details|truncatewords:20 }}
        </p>
        <h4 class="d-flex align-items-baseline mt-2">
          {{ donations|index:forloop.counter0 }} L.E.
          <span class="text-secondary text-sm mx-2">raised of {{ project.total_target }} L.E. goal</span>
        </h4>
        <div class="progress mb-3 h-auto">
          <div class="progress-bar bg-primary" role="progressbar" aria-valuenow="{{ donations|index:forloop.counter0 }}"
            aria-valuemin="0" aria-valuemax="{{ project.total_target }}"
            style="width:{{ progress_values|index:forloop.counter0 }}%">
          </div>
        </div>
        <a href="{%url 'show_project' project.id%}" class="btn btn-outline-secondary btn-sm">Read More</a>
      </div>
    </div>
    {%endfor%}
  </div>

  <!-- Extra Container For Tag Search Purposes -->
  {% block extra_content %}
  <h3 class="mt-5 pt-4 text-center">
    {% block extra_content_title %}{% endblock extra_content_title %}
    <span class="">{{ title_tags|title }}</span>
  </h3>
  <div class="tags_container d-flex justify-content-center">
    {%for tag in tags%}
    <a href="{% url 'get_tag' tag.id%}" class="bg-light py-2 px-3 rounded mx-2 my-4">{{ tag }}</a>
    {% endfor %}
  </div>

  {% endblock extra_content %}
</div>

{% endblock content %}