{% extends 'layouts/base.html' %}

{% block title %} Category Page {% endblock title %}

{% block stylesheets %}
<link rel="stylesheet" href="../../static/assets/css/category-page.css">
{% endblock stylesheets %}

{% block content %}

<div class="container">
  <div class="py-5 mx-auto">
    <div class="d-flex justify-content-center py-5 flex-wrap">
      <!-- Project -->
      <div class="category-page-container col-md-4">
        <div class="category-project-content p-4" style="border-radius: 10px;">
          <a href="#"><img src="https://via.placeholder.com/600x300" alt="project-img" class="img-fluid"></a>
          <a href="#" class="text-dark">
            <h3 class="my-3">Project title</h3>
          </a>
          <div class="d-flex justify-content-between my-2">
            <span><small><i class="fa fa-calendar mr-1 text-muted"></i><span class="text-muted mr-1">Ends
                  by:</span>25 June
                2020</small></span>
          </div>
          <p class="text-secondary">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur in iaculis ex. Etiam volutpat
            laoreet
            urna.
            Morbi ut tortor nec nulla commodo malesuada sit amet vel lacus.
          </p>
          <h4 class="d-flex align-items-baseline mt-2">
            €250
            <span class="text-secondary mx-2">
              <p>raised of €1200 goal</p>
            </span>
          </h4>
          <div class="progress mb-3 h-auto">
            <div class="progress-bar bg-gradient-primary" role="progressbar" style="width: 50%" aria-valuenow="50"
              aria-valuemin="0" aria-valuemax="100"></div>
          </div>
          <a href="#" class="btn btn-outline-secondary btn-sm">Read More</a>
        </div>
      </div>
      <!-- Project -->
      <div class="category-page-container col-md-4">
        <div class="category-project-content p-4" style="border-radius: 10px;">
          <a href="#"><img src="https://via.placeholder.com/600x300" alt="project-img" class="img-fluid"></a>
          <a href="#" class="text-dark">
            <h3 class="my-3">Project title</h3>
          </a>
          <div class="d-flex justify-content-between my-2">
            <span><small><i class="fa fa-calendar mr-1 text-muted"></i><span class="text-muted mr-1">Ends
                  by:</span>25 June
                2020</small></span>
          </div>
          <p class="text-secondary">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur in iaculis ex. Etiam volutpat
            laoreet
            urna.
            Morbi ut tortor nec nulla commodo malesuada sit amet vel lacus.
          </p>
          <h4 class="d-flex align-items-baseline mt-2">
            €250
            <span class="text-secondary mx-2">
              <p>raised of €1200 goal</p>
            </span>
          </h4>
          <div class="progress mb-3 h-auto">
            <div class="progress-bar bg-gradient-primary" role="progressbar" style="width: 50%" aria-valuenow="50"
              aria-valuemin="0" aria-valuemax="100"></div>
          </div>
          <a href="#" class="btn btn-outline-secondary btn-sm">Read More</a>
        </div>
      </div>
      <!-- Project -->
      <div class="category-page-container col-md-4">
        <div class="category-project-content p-4" style="border-radius: 10px;">
          <a href="#"><img src="https://via.placeholder.com/600x300" alt="project-img" class="img-fluid"></a>
          <a href="#" class="text-dark">
            <h3 class="my-3">Project title</h3>
          </a>
          <div class="d-flex justify-content-between my-2">
            <span><small><i class="fa fa-calendar mr-1 text-muted"></i><span class="text-muted mr-1">Ends
                  by:</span>25 June
                2020</small></span>
          </div>
          <p class="text-secondary">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur in iaculis ex. Etiam volutpat
            laoreet
            urna.
            Morbi ut tortor nec nulla commodo malesuada sit amet vel lacus.
          </p>
          <h4 class="d-flex align-items-baseline mt-2">
            €250
            <span class="text-secondary mx-2">
              <p>raised of €1200 goal</p>
            </span>
          </h4>
          <div class="progress mb-3 h-auto">
            <div class="progress-bar bg-gradient-primary" role="progressbar" style="width: 50%" aria-valuenow="50"
              aria-valuemin="0" aria-valuemax="100"></div>
          </div>
          <a href="#" class="btn btn-outline-secondary btn-sm">Read More</a>
        </div>
      </div>
      <!-- Project -->
      <div class="category-page-container col-md-4">
        <div class="category-project-content p-4" style="border-radius: 10px;">
          <a href="#"><img src="https://via.placeholder.com/600x300" alt="project-img" class="img-fluid"></a>
          <a href="#" class="text-dark">
            <h3 class="my-3">Project title</h3>
          </a>
          <div class="d-flex justify-content-between my-2">
            <span><small><i class="fa fa-calendar mr-1 text-muted"></i><span class="text-muted mr-1">Ends
                  by:</span>25 June
                2020</small></span>
          </div>
          <p class="text-secondary">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur in iaculis ex. Etiam volutpat
            laoreet
            urna.
            Morbi ut tortor nec nulla commodo malesuada sit amet vel lacus.
          </p>
          <h4 class="d-flex align-items-baseline mt-2">
            €250
            <span class="text-secondary mx-2">
              <p>raised of €1200 goal</p>
            </span>
          </h4>
          <div class="progress mb-3 h-auto">
            <div class="progress-bar bg-gradient-primary" role="progressbar" style="width: 50%" aria-valuenow="50"
              aria-valuemin="0" aria-valuemax="100"></div>
          </div>
          <a href="#" class="btn btn-outline-secondary btn-sm">Read More</a>
        </div>
      </div>
    </div>
  </div>

  {% endblock content %}