{% extends 'layouts/base-presentation.html' %}

{% block title %} Presentation {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}
<link rel="stylesheet" href="../../static/assets/css/category-page.css">
{% endblock stylesheets %}

{% block body_class %} Category Page {% endblock body_class %}

{% block content %}

<div class="container">
  <div class="py-5 mx-auto">
    <div class="d-flex justify-content-center py-5 flex-wrap">
      <!-- Project -->
      <div class="category-page-container col-md-4">
        <div class="category-project-content p-4" style="border-radius: 10px;">
          <a href="#"><img src="https://via.placeholder.com/600x300" alt="project-img" class="img-fluid"></a>
          <a href="#" class="text-dark">
            <h3 class="my-3">Project title</h3>
          </a>
          <div class="d-flex justify-content-between my-2">
            <span><small><i class="fa fa-calendar mr-1 text-muted"></i><span class="text-muted mr-1">Ends
                  by:</span>25 June
                2020</small></span>
          </div>
          <p class="text-secondary">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur in iaculis ex. Etiam volutpat
            laoreet
            urna.
            Morbi ut tortor nec nulla commodo malesuada sit amet vel lacus.
          </p>
          <h4 class="d-flex align-items-baseline mt-2">
            €250
            <span class="text-secondary mx-2">
              <p>raised of €1200 goal</p>
            </span>
          </h4>
          <div class="progress mb-3 h-auto">
            <div class="progress-bar bg-gradient-primary" role="progressbar" style="width: 50%" aria-valuenow="50"
              aria-valuemin="0" aria-valuemax="100"></div>
          </div>
          <a href="#" class="btn btn-outline-secondary btn-sm">Read More</a>
        </div>
      </div>
      <!-- Project -->
      <div class="category-page-container col-md-4">
        <div class="category-project-content p-4" style="border-radius: 10px;">
          <a href="#"><img src="https://via.placeholder.com/600x300" alt="project-img" class="img-fluid"></a>
          <a href="#" class="text-dark">
            <h3 class="my-3">Project title</h3>
          </a>
          <div class="d-flex justify-content-between my-2">
            <span><small><i class="fa fa-calendar mr-1 text-muted"></i><span class="text-muted mr-1">Ends
                  by:</span>25 June
                2020</small></span>
          </div>
          <p class="text-secondary">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur in iaculis ex. Etiam volutpat
            laoreet
            urna.
            Morbi ut tortor nec nulla commodo malesuada sit amet vel lacus.
          </p>
          <h4 class="d-flex align-items-baseline mt-2">
            €250
            <span class="text-secondary mx-2">
              <p>raised of €1200 goal</p>
            </span>
          </h4>
          <div class="progress mb-3 h-auto">
            <div class="progress-bar bg-gradient-primary" role="progressbar" style="width: 50%" aria-valuenow="50"
              aria-valuemin="0" aria-valuemax="100"></div>
          </div>
          <a href="#" class="btn btn-outline-secondary btn-sm">Read More</a>
        </div>
      </div>
      <!-- Project -->
      <div class="category-page-container col-md-4">
        <div class="category-project-content p-4" style="border-radius: 10px;">
          <a href="#"><img src="https://via.placeholder.com/600x300" alt="project-img" class="img-fluid"></a>
          <a href="#" class="text-dark">
            <h3 class="my-3">Project title</h3>
          </a>
          <div class="d-flex justify-content-between my-2">
            <span><small><i class="fa fa-calendar mr-1 text-muted"></i><span class="text-muted mr-1">Ends
                  by:</span>25 June
                2020</small></span>
          </div>
          <p class="text-secondary">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur in iaculis ex. Etiam volutpat
            laoreet
            urna.
            Morbi ut tortor nec nulla commodo malesuada sit amet vel lacus.
          </p>
          <h4 class="d-flex align-items-baseline mt-2">
            €250
            <span class="text-secondary mx-2">
              <p>raised of €1200 goal</p>
            </span>
          </h4>
          <div class="progress mb-3 h-auto">
            <div class="progress-bar bg-gradient-primary" role="progressbar" style="width: 50%" aria-valuenow="50"
              aria-valuemin="0" aria-valuemax="100"></div>
          </div>
          <a href="#" class="btn btn-outline-secondary btn-sm">Read More</a>
        </div>
      </div>
      <!-- Project -->
      <div class="category-page-container col-md-4">
        <div class="category-project-content p-4" style="border-radius: 10px;">
          <a href="#"><img src="https://via.placeholder.com/600x300" alt="project-img" class="img-fluid"></a>
          <a href="#" class="text-dark">
            <h3 class="my-3">Project title</h3>
          </a>
          <div class="d-flex justify-content-between my-2">
            <span><small><i class="fa fa-calendar mr-1 text-muted"></i><span class="text-muted mr-1">Ends
                  by:</span>25 June
                2020</small></span>
          </div>
          <p class="text-secondary">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur in iaculis ex. Etiam volutpat
            laoreet
            urna.
            Morbi ut tortor nec nulla commodo malesuada sit amet vel lacus.
          </p>
          <h4 class="d-flex align-items-baseline mt-2">
            €250
            <span class="text-secondary mx-2">
              <p>raised of €1200 goal</p>
            </span>
          </h4>
          <div class="progress mb-3 h-auto">
            <div class="progress-bar bg-gradient-primary" role="progressbar" style="width: 50%" aria-valuenow="50"
              aria-valuemin="0" aria-valuemax="100"></div>
          </div>
          <a href="#" class="btn btn-outline-secondary btn-sm">Read More</a>
        </div>
      </div>
    </div>
  </div>


  {% endblock content %}

  <!-- Specific JS goes HERE -->
  {% block javascripts %}

  <script src="/static/assets/js/plugins/countup.min.js"></script>
  <script src="/static/assets/js/plugins/choices.min.js"></script>
  <script src="/static/assets/js/plugins/rellax.min.js"></script>
  <script src="/static/assets/js/plugins/tilt.min.js"></script>
  <script src="/static/assets/js/plugins/choices.min.js"></script>

  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDTTfWur0PDbZWPr7Pmq8K3jiDp0_xUziI"></script>
  <script src="/static/assets/js/soft-design-system.min.js?v=1.0.1" type="text/javascript"></script>

  <script type="text/javascript">
    if (document.getElementById('state1')) {
      const countUp = new CountUp('state1', document.getElementById("state1").getAttribute("countTo"));
      if (!countUp.error) {
        countUp.start();
      } else {
        console.error(countUp.error);
      }
    }
    if (document.getElementById('state2')) {
      const countUp1 = new CountUp('state2', document.getElementById("state2").getAttribute("countTo"));
      if (!countUp1.error) {
        countUp1.start();
      } else {
        console.error(countUp1.error);
      }
    }
    if (document.getElementById('state3')) {
      const countUp2 = new CountUp('state3', document.getElementById("state3").getAttribute("countTo"));
      if (!countUp2.error) {
        countUp2.start();
      } else {
        console.error(countUp2.error);
      };
    }
  </script>

  {% endblock javascripts %}