{% extends 'layouts/base.html' %}

{% block title %} Create Project {% endblock title %}

{% block content %}
<div class="container">
  <div class="py-5 mx-auto">
    <div class="col-md-8 card d-flex shadow-lg p-4 mt-5 mx-auto">
      <div class="text-center">
        <h3 class="text-gradient text-primary">Create New Project</h3>
      </div>
      <div class="card card-plain">
        <form role="form" id="contact-form" method="post" autocomplete="off" enctype="multipart/form-data">
          {% csrf_token %}

          <div class="mb-3">
            <label class="form-label">Project Title</label>
            {{ form.title }}
          </div>
          <span class="text-error">{{ form.title.errors }}</span>

          <div class="mb-3">
            <label class="form-label">Details</label>
            {{ form.details }}
          </div>
          <span class="text-error">{{ form.details.errors }}</span>

          <div class="mb-3">
            <label class="form-label">Total Target</label>
            {{ form.total_target }}
          </div>
          <span class="text-error">{{ form.total_target.errors }}</span>

          <div class="mb-3">
            <label class="form-label">Start Date & Time</label>
            {{ form.start_time }}
          </div>
          <span class="text-error">{{ form.start_time.errors }}</span>

          <div class="mb-3">
            <label class="form-label">End Date & Time</label>

            {{ form.end_time }}
          </div>
          <span class="text-error">{{ form.end_time.errors }}</span>

          <div class="mb-3">
            <label class="form-label">Category</label>

            {{ form.category }}
          </div>
          <span class="text-error">{{ form.category.errors }}</span>


          <div class="mb-3">
            <label class="form-label">Add tag</label>
            <input type="text" class="inp form-control my-1" maxlength="8" name="newTag" class="form-control"  id="id_tag"/>
            <span class="show_tag " style="padding: 2px;background-color: rgba(145, 9, 120, 0.61);border-radius: 15%; color: rgb(241, 240, 255);"></span>
            <p style="margin: 2px; color: black; font-size: small; font-weight: 550;">or choose one : </p>
            {{ form.tag }}
          </div>
          <span class="text-error">{{ form.tag.errors }}</span>

          <div class="mb-3">
            <label class="form-label">Photos</label><br />
            <input class="form-control" type="file" name="images" multiple required>
          </div>

          <div class="text-center">
            <button type="submit" name="create_project" class="btn btn-lg bg-gradient-primary btn-lg w-100 mt-4 mb-0">
              Create
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<script>


// let btnAdd = document.querySelector('button');
let input = document.querySelector('.inp');
let show = document.querySelector('.show_tag');

input.addEventListener('keyup', () =>{
    show.innerText = input.value.replace(/\s+/g,'_').trim()

    
  
});
</script>
{% endblock content %}