{% extends 'layouts/base.html' %}
{% load index %}

{% block title %} Home Page {%endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}
<style>
  .featuredProject-image {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    background-position: center;
    background-repeat: no-repeat;
  }

  .featuredProject-image:after {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.85));
    content: "";
  }

  .carousel-caption {
    bottom: 45%;
  }

  .carousel-indicators {
    bottom: 20%;
  }

  #featured .card.card-background.card-background-mask-primary::after {
    background-image: linear-gradient(310deg, #8d0599 0%, #ed3d3d 100%);
  }
</style>
{% endblock stylesheets %}

{% block body_class %} index-page {% endblock body_class %}


{% block content %}

<!-- slider -->

<header class="header-2">
  <div class="page-header section-height-75 relative">
    <div class="col-md-12 p-0">
      <div class="row">
        <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
          <!-- Indicators -->
          <ol class="carousel-indicators">
            <li data-bs-target="#myCarousel" data-bs-slide-to="0" class="active"></li>
            <li data-bs-target="#myCarousel" data-bs-slide-to="1"></li>
            <li data-bs-target="#myCarousel" data-bs-slide-to="2"></li>
            <li data-bs-target="#myCarousel" data-bs-slide-to="3"></li>
            <li data-bs-target="#myCarousel" data-bs-slide-to="4"></li>
          </ol>

          <!-- Wrapper for slides -->
          <div class="carousel-inner">

            {%for project in highest_rated_projects%}

            <div class="carousel-item {% if forloop.first %}active{%endif%}">
              <div class="featuredProject-image section-height-75 relative" style="
                        background-image: url('{{ images|index:forloop.counter0 }}');
                        background-size: cover;
                      "></div>
              <div class="carousel-caption d-none d-md-block">
                <a href="{% url 'show_project' project.id %}">
                  <h3 class="text-light font-weight-bolder">{{ project.title|title }}</h3>
                  <p class="w-75 mx-auto text-uppercase text-light">Click and start donating now</p>
                </a>
              </div>
            </div>

            {%endfor%}

          </div>

          <!-- Left and right controls -->
          <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>
    </div>
    <div class="position-absolute w-100 z-index-1 bottom-0">
      <svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
        viewBox="0 24 150 40" preserveAspectRatio="none" shape-rendering="auto">
        <defs>
          <path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
        </defs>
        <g class="moving-waves">
          <use xlink:href="#gentle-wave" x="48" y="-1" fill="rgba(255,255,255,0.40" />
          <use xlink:href="#gentle-wave" x="48" y="3" fill="rgba(255,255,255,0.35)" />
          <use xlink:href="#gentle-wave" x="48" y="5" fill="rgba(255,255,255,0.25)" />
          <use xlink:href="#gentle-wave" x="48" y="8" fill="rgba(255,255,255,0.20)" />
          <use xlink:href="#gentle-wave" x="48" y="13" fill="rgba(255,255,255,0.15)" />
          <use xlink:href="#gentle-wave" x="48" y="16" fill="rgba(255,255,255,0.95" />
        </g>
      </svg>
    </div>
  </div>
</header>

<!-- Counter -->
<section class="pt-3 pb-4" id="count-stats">
  <div class="container">
    <div class="row">
      <div class="col-lg-9 z-index-2 border-radius-xl mt-n8 mx-auto py-3 blur shadow-blur">
        <div class="row">
          <div class="col-md-4 position-relative">
            <div class="p-3 text-center">
              <h3 class="text-gradient text-primary">
                <span id="state1" countTo="{{ donors_count }}"></span>+
              </h3>
              <h5 class="mt-3">Donors</h5>
              <p class="text-sm">
                People of different ages are welcome to donate
              </p>
            </div>
            <hr class="vertical dark" />
          </div>
          <div class="col-md-4 position-relative">
            <div class="p-3 text-center">
              <h3 class="text-gradient text-primary">
                <span id="state2" countTo="{{ projects_count }}"></span>+
              </h3>
              <h5 class="mt-3">Projects</h5>
              <p class="text-sm">Various Projects that deserve to be donated</p>
            </div>
            <hr class="vertical dark" />
          </div>
          <div class="col-md-4">
            <div class="p-3 text-center">
              <h3 class="text-gradient text-primary">
                <span id="state3" countTo="{{ reviews_count }}"></span>+
              </h3>
              <h5 class="mt-3">Reviews</h5>
              <p class="text-sm">Feel free to rate projects and give us a feedback</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- List Projects -->
<section class="my-5 py-5">
  <div class="container">
    <div class="row align-items-center">
      <!-- Latest Projects -->
      <div class="col-lg-6 ms-auto me-auto p-lg-2 mt-lg-0 mt-4">
        <div class="card card-background card-background-mask-primary tilt" data-tilt>
          <div class="full-background" style="
              background-image: url('https://images.unsplash.com/photo-1579389083395-4507e98b5e67?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=934&q=80');
            "></div>
          <div class="card-body pt-5 text-center">
            <h2 class="text-white up mb-4">
              <i class="fa-solid fa-list-check mx-3"></i>Latest Projects
            </h2>
            <ul class="text-left">
              {%for project in latest_5_projects%}
              <li>
                <a href="{% url 'show_project' project.id %}" class="text-light font-weight-bold">
                  {{ project.title|title }}
                </a>
              </li>
              {%empty%}
              <h5 class="text-light text-center">No Projects Found</h5>
              {%endfor%}
            </ul>
            <a href="{%url 'all_projects'%}" class="btn btn-outline-white mt-3 btn-round">View All</a>
          </div>
        </div>
      </div>

      <!-- Featured Projects -->
      <div id="featured" class="col-lg-6 ms-auto me-auto p-lg-2 mt-lg-0 mt-4">
        <div class="card card-background card-background-mask-primary tilt" data-tilt>
          <div class="full-background" style="
              background-image: url('../../static/assets/img/featured.jpg');
            "></div>
          <div class="card-body pt-5 text-center">
            <h2 class="text-white up mb-4">
              <i class="fa-solid fa-lightbulb mx-3"></i>Featured Projects
            </h2>
            <ul class="text-left">
              {%for project in featured_projects%}
              <li>
                <a href="{% url 'show_project' project.id %}" class="text-light font-weight-bold">
                  {{ project.title|title }}
                </a>
              </li>
              {%empty%}
              <h5 class="text-light text-center">No Featured Projects</h5>
              {%endfor%}
            </ul>
            </ul>
            <a href="{% url 'featured_projects' %}" class="btn btn-outline-white mt-3 btn-round">View All</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="py-3 mt-3">
  <div class="container">
    <div class="row justify-space-between text-center py-2">
      <div class="col-12 mx-auto">
        <a class="btn bg-gradient-primary w-auto me-2 p-3 text-light" href="{% url 'create_project'%}">Create your own
          <b>Project</b></a>
          
      </div>
    </div>
  </div>
</section>
{% endblock content %}

<!-- Specific JS goes HERE -->
{% block javascripts %}

<script src="/static/assets/js/plugins/countup.min.js"></script>
<script src="/static/assets/js/plugins/tilt.min.js"></script>

<!-- Counters Script -->
<script type="text/javascript">
  if (document.getElementById("state1")) {
    const countUp = new CountUp(
      "state1",
      document.getElementById("state1").getAttribute("countTo")
    );
    if (!countUp.error) {
      countUp.start();
    } else {
      console.error(countUp.error);
    }
  }
  if (document.getElementById("state2")) {
    const countUp1 = new CountUp(
      "state2",
      document.getElementById("state2").getAttribute("countTo")
    );
    if (!countUp1.error) {
      countUp1.start();
    } else {
      console.error(countUp1.error);
    }
  }
  if (document.getElementById("state3")) {
    const countUp2 = new CountUp(
      "state3",
      document.getElementById("state3").getAttribute("countTo")
    );
    if (!countUp2.error) {
      countUp2.start();
    } else {
      console.error(countUp2.error);
    }
  }
</script>

<script src="https://unpkg.com/imagesloaded@4/imagesloaded.pkgd.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.3.3/gsap.min.js"></script>
{% endblock javascripts %}