{% extends 'layouts/base.html' %} {% block title %} Forms {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %} {% block body_class %}
forms-sections {% endblock body_class %} {% block content %} 
{% include "includes/navigation-light.html" %}

<div class="container mt-5">
  <div class="row">
    <div class="col-lg-12 mx-auto">
      <div class="container py-4">
        <div class="row">
          <div
            class="col-lg-10 mx-auto d-flex justify-content-center flex-column"
          >
            <div class="card d-flex justify-content-center p-4 shadow-lg">
              <div class="text-center">
                <h3 class="text-gradient text-primary">Create New Project</h3>
              </div>
              <div class="card card-plain">
                <form
                  role="form"
                  id="contact-form"
                  method="post"
                  autocomplete="off"
                >
                  {% csrf_token %}

                  <div class="mb-3">
                    <label class="form-label">Project Title</label>
                    {{ form.title }}
                  </div>
                  <span class="text-error">{{ form.username.errors }}</span>

                  <div class="mb-3">
                    <label class="form-label">Details</label>
                    {{ form.details }}
                  </div>
                  <span class="text-error">{{ form.details.errors }}</span>

                  <div class="mb-3">
                    <label class="form-label">Total Target</label>
                    {{ form.total_target }}
                  </div>
                  <span class="text-error">{{ form.total_target.errors }}</span>

                  <div class="mb-3">
                    <label class="form-label">Start Date & Time</label>
                    {{ form.start_time }}
                  </div>
                  <span class="text-error">{{ form.start_time.errors }}</span>

                  <div class="mb-3">
                    <label class="form-label">End Date & Time</label>

                    {{ form.end_time }}
                  </div>
                  <span class="text-error">{{ form.end_time.errors }}</span>

                  <div class="mb-3">
                    <label class="form-label">Category</label>

                    {{ form.category }}
                  </div>
                  <span class="text-error">{{ form.category.errors }}</span>

                  {% comment %} <div class="mb-3">
                    <label class="form-label">Project Title</label>

                    {{ form.user_id }}
                  </div> {% endcomment %}
                  {% comment %} <span class="text-error">{{ form.user_id.errors }}</span> {% endcomment %}

                  <div class="text-center">
                    <button
                      type="submit"
                      name="register"
                      class="btn btn-lg bg-gradient-primary btn-lg w-100 mt-4 mb-0"
                    >
                      Create
                    </button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock content %}

<!-- Specific JS goes HERE -->
{% block javascripts %}

<script
  src="/static/assets/js/soft-design-system.min.js?v=1.0.1"
  type="text/javascript"
></script>

{% endblock javascripts %}
